body{
    background-image: url(https://m.media-amazon.com/images/I/71QaH+a8-8L._AC_UF350,350_QL80_.jpg );
} 

header{
  background-color: antiquewhite;
}

img{ 
    display: flex;
    overflow-x:auto ; 
    margin: 1rem 0; 
    max-width: calc(100vw-2rem);
    width: 300px; 
    height: auto;
} 

button{
    border: black 4px;
    border-style: dotted;
    background-color: rgb(240, 228, 228);
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
  }

  .add-restaurant{
    display: inline-block;
    border-color: black;
    border-style: inset;
    margin: auto;
  }

 h3 {
    color: red;
    border-bottom: 1px solid; 
    font-size: larger;
 }

 h2 {
    text-decoration: black underline;
    background-color: antiquewhite;
    display: inline-block;
 }

 form{
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  position: absolute; 
  padding: 12px;
  top: 0px;
  right: 0px;
  width: 300px
 }

 